<!-- Standard Meta -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">

<!-- Site Properties -->
<title>{{ page.title }} &middot; 云英语</title>
<meta name="author" content="iROCKBUNNY">
<meta name="description" content="Y-System: Y-English Education Service Support System">
<meta name="keywords" content="Y-English, Y-System, English, Education">

<!-- Semantic UI CSS -->
<link rel="stylesheet" type="text/css" href="//static.y-english.org/assets/ui/semantic.min.css">

<!-- Customized CSS -->
<style type="text/css">
    .logo-image {
        width: 30px;
    }
    .logo-text {
        margin-left: 10px;
        font-size: 1.6em;
        font-weight: normal;
        display: inline-block;
        vertical-align: middle;
    }

    .footer.segment {
        padding: 5em 0em;
    }

    .masthead.segment {
        min-height: 550px;
        padding: 1em 0em;
    }
    .masthead h1.ui.header {
        margin-top: 1em;
        margin-bottom: 0em;
        font-size: 8em;
        font-weight: normal;
    }
    .masthead h2.ui.header {
        font-size: 1.7em;
        font-weight: normal;
    }
    .masthead a.ui.button {
        margin: auto;
    }

    #contacts-modal .card .qrcode.image {
        padding: 1em;
        background: none;
    }

    @media only screen and (max-width: 767px) {
        .masthead.segment {
            min-height: 300px;
        }
        .masthead h1.ui.header {
            margin-top: 1em;
            font-size: 4em;
        }
        .masthead h2.ui.header {
            margin-top: 0.5em;
            font-size: 1.2em;
        }
    }
</style>

<!-- Favicons -->
<link rel="apple-touch-icon" href="//static.y-english.org/apple-touch-icon.png">
<link rel="icon" type="image/x-icon" href="//static.y-english.org/favicon.ico">