<!-- jQuery -->
<script type="text/javascript" src="//static.y-english.cn/assets/jquery/jquery.min.js"></script>

<!-- Fomantic UI JS -->
<script type="text/javascript" src="//static.y-english.cn/assets/ui/semantic.min.js"></script>

<!-- Customized JS -->
<script type="text/javascript">
    // popup wechat qrcode
    $('.popup-item-click').popup({
        on: 'click'
    });

    // footer copyright
    $('#copyright').html(function () {
        return `<i class="copyright outline icon"></i> 2011-${new Date().getFullYear()} {{ site.organization_alt }} 版权所有`;
    });

    // footer contacts
    $('#contacts-footer-link').click(function () {
        $('#contacts-modal').modal('show');
    });
</script>